@font-face {
    font-family: 'Andika New Basic';
    src: url('AndikaNewBasic-Regular.woff2') format('woff2'),
        url('AndikaNewBasic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Andika New Basic';
    src: url('AndikaNewBasic-Italic.woff2') format('woff2'),
        url('AndikaNewBasic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Andika New Basic';
    src: url('AndikaNewBasic-Bold.woff2') format('woff2'),
        url('AndikaNewBasic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Andika New Basic';
    src: url('AndikaNewBasic-BoldItalic.woff2') format('woff2'),
        url('AndikaNewBasic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

