$base-color:  rgba(128, 128, 128, .322);
$base-font-color: rgb(41, 41, 41);
$offline: rgb(255, 52, 52);
$online: rgb(33, 194, 33);
$notification-red: rgb(221, 40, 40);
$notification-gray: gray;
$links: #1f1f1f;
$chat-item-active: silver;
$light-blue: #4db8ff;
$input-focus: rgb(8, 132, 204);
$input-focus-shadow: rgba(8, 132, 204, 0.363);;
$input-invalid: rgb(255, 99, 99);
$button-blue: #0884cc;
$button-red: #ff6363;
$close: rgb(58, 58, 58);
$close-hover: rgb(255, 61, 61);
$popUp-bg: rgba(0, 0, 0, 0.38);
$message-text: rgb(53, 53, 53);
$message-my-text: rgb(13, 60, 87);
$message: rgb(214, 214, 214);
$message-my: rgb(144, 190, 216);